<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Title</title>
	    <meta charset="UTF-8">
	    <title>Сайт</title>
	    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
		<style type="text/css">
			.a1 {
				margin-top: 1.5em
			}
			.p1 {
				margin-left: 5%
			}

		</style>
	</head>
	<body>
		<h1 class="a1" align="center">Информация</h1>
		<div align="center">
        	<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/menu">Главная</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/info">Информация</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/menu">Главная</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/menu">Главная</a>
		</div>
		<div>
			<h5 class="p1">Наверно не много о себе и о сайте...</h5>
			<h5 class="p1">Сайт написан на библиотеке Flask языка пайтон</h5>
		</div>
	</body>
</html>