body {
	background: #AFDAFC;
}
.a1 {
	margin-top: 1.5em
}
.p1 {
	margin-left: 5%;
	margin-right: 5%
}
#pic {
    float: left
   }
.text {
    margin-left: 350px;
    margin-right: 5%
}
