<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Геймплэй</title>
	    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<div>
			<h1 class="a1" align="center">Каталог</h1>
			<div align="center">
	        	<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/menu">Главная</a>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog">Каталог</a>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/gallereya">Галлерея</a>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/info">Информация</a>
			</div>
			<br><br>
			<div class="p1" id="pic">
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog">Каталог</a><br><br>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog/gameplay">Геймплэй</a><br><br>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog/rejim">Виды порталов</a><br><br>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog/lavels">Уровни</a><br><br>
				<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog/secrets">Секреты</a>
			</div>
			<div class="text">
				<h2>Режимы игры</h2><br>
				<div align="center">
					<h3>Порталы игровых режимов</h3><br>
					<table>
						<tr>
							<th style="width: 200px"><h3>Тип</h3></th>
							<th style="width: 200px"><h3>Вид</h3></th>
							<th style="width: 200px"><h3>Форма</h3></th>
							<th style="width: 200px"><h3>Действие</h3></th>
						</tr>
						<tr>
							<td><h5>куб</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/d/de/CubePortal.png/revision/latest/scale-to-width-down/65?cb=20160210164106&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/c/c4/Cube01.png/revision/latest/scale-to-width-down/80?cb=20170109071952&path-prefix=ru"></td>
							<td>
								<h5>Превращает персонажа в куб, который умеет прыгать на 3 клетки в высоту (на 1 в уменьшенном состоянии), а также на определённую длину, зависящую от скорости</h5>
							</td>
						</tr>
						<tr>
							<td><h5>Корабль</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/e/e1/ShipPortal.png/revision/latest/scale-to-width-down/65?cb=20160210164242&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/d/df/Ship01.png/revision/latest/scale-to-width-down/80?cb=20170109072126&path-prefix=ru"></td>
							<td><h5>"Сажает" персонажа в корабль, в котором он может летать</h5></td>
						</tr>
						<tr>
							<td><h5>Шар</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/a/a3/BallPortal.png/revision/latest/scale-to-width-down/65?cb=20160210164041&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/9/90/Ball_form.png/revision/latest/scale-to-width-down/80?cb=20170109072322&path-prefix=ru"></td>
							<td><h5>Превращает персонажа в шар, который может свободно катиться и прыгать, плавно меняя при нажатии гравитацию</h5></td>
						</tr>
						<tr>
							<td><h5>НЛО</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/e/ed/UFOPortal.png/revision/latest/scale-to-width-down/65?cb=20160210164300&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/a/a0/UFO01.png/revision/latest/scale-to-width-down/80?cb=20170109072349&path-prefix=ru"></td>
							<td><h5>"Сажает" персонажа в НЛО, в котором он может прыгать по воздуху (отсылка к Flappy Bird)</h5></td>
						</tr>
						<tr>
							<td><h5>Волна</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/c/c9/WavePortal.png/revision/latest/scale-to-width-down/65?cb=20160210164310&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/2/27/Wave01.png/revision/latest/scale-to-width-down/80?cb=20170227061448&path-prefix=ru"></td>
							<td><h5>Превращает персонажа в волну, которая летит по диагонали и умирает при столкновении с любым объектом, за исключением тех объектов, над которыми стоит блок "Анти-Столкновения". Но если этот блок стоит над шипом, то волна погибнет</h5></td>
						</tr>
						<tr>
							<td><h5>Робот</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/9/92/RobotPortal.png/revision/latest/scale-to-width-down/65?cb=20160210164229&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/5/56/Robot01.png/revision/latest/scale-to-width-down/80?cb=20160403150153&path-prefix=ru"></td>
							<td><h5>Превращает персонажа в робота, при помощи которого можно прыгать на высоту 5 клеток. Высота прыжка зависит от долготы удержания</h5></td>
						</tr>
						<tr>
							<td><h5>Паук</h5></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/d/d6/SpiderPortal.png/revision/latest/scale-to-width-down/65?cb=20160302113712&path-prefix=ru"></td>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/f/f0/Spider01.png/revision/latest/scale-to-width-down/80?cb=20170319095035&path-prefix=ru"></td>
							<td><h5>Превращает персонажа в паука, который обладает мгновенной телепортацией, меняя при этом гравитацию</h5></td>
						</tr>
					</table><br><br>
					<h3>Порталы гравитации (тонкие)</h3><br>
					<table>
						<tr>
							<th style="width: 200px"><h3>Вид</h3></th>
							<th style="width: 200px"><h3>Действие</h3></th>	
						</tr>
						<tr>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/2/24/GravityPortal.png/revision/latest/scale-to-width-down/65?cb=20160210145207&path-prefix=ru"></td>
							<td><h5>Меняет гравитацию (персонаж падает вверх, а прыгает вниз)</h5></td>
						</tr>
						<tr>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/9/96/GravityPortalB.png/revision/latest/scale-to-width-down/65?cb=20160210145243&path-prefix=ru"></td>
							<td><h5>Возвращает прежнее притяжение, после действия жёлтого портала</h5></td>
						</tr>
					</table><br><br>
					<h3>Порталы разворота (тройные)</h3><br>
					<table>
						<tr>
							<th style="width: 200px"><h3>Вид</h3></th>
							<th style="width: 200px"><h3>Действие</h3></th>
						</tr>
						<tr>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/e/e7/MirrorPortalA.png/revision/latest/scale-to-width-down/105?cb=20160210164159&path-prefix=ru"></td>
							<td><h5>Разворачивает уровень, меняя точку зрения, но геймплей не меняется</h5></td>
						</tr>
						<tr>
							<td><img src="https://static.wikia.nocookie.net/geometry-dash/images/f/f0/MirrorPortalB.png/revision/latest/scale-to-width-down/105?cb=20160210164218&path-prefix=ru"></td>
							<td><h5>Разворачивает уровень, меняя точку зрения, но геймплей не меняется. (работает только после оранжевого)</h5></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>