<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Информация</title>
	    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<h1 class="a1" align="center">Информация</h1>
		<div align="center">
        	<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/menu">Главная</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/katalog">Каталог</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/gallereya">Галлерея</a>
			<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/info">Информация</a>
		</div>
		<div>
			<h3 class="p1">Наверно не много о себе и о сайте...</h3>
			<h5 class="p1">Сайт написан на языке Python. Для реализации использовался модуль Flask. Вообще этот сайт создан в качестве проекта, но несмотря на это я надеюсь он будет использоваться и дальше. Исходный код этого сайта вы можете скачать по этой <a href="https://github.com/RuSsteMm/Flaskk">ссылке<a>. Это ссылка на публичный Git, где вы сможете скачать этот код</h5>
			<h5 class="p1">Сам сайт представляет из себя небольшую энциклопедию по игре <a href="https://store.steampowered.com/app/322170/Geometry_Dash/?l=russian">Geometry Dash</a></h5>
			<h5 class="p1">Меня зовут Рустем, и я начинающий программист. На момент создания сайта являюсь учеником Яндекс-лицея и изучаю язык программирования Python</h5>
		</div>
	</body>
</html>